.carousel1 {
    height: 91vh;
    width: 100vw;
    background-color: #231709;
    clip-path: circle(62.6% at 14% 0); /* Default for larger screens */
  }
  
  @media (max-width: 768px) {
    .carousel1 {
      clip-path: circle(75% at 50% 0); /* Adjust clip-path for tablets and small devices */
    }
  }
  
  @media (max-width: 480px) {
    .carousel1 {
      clip-path: circle(85% at 50% 0); /* Adjust for very small screens */
    }
    .carousel-text{
        margin-left:1vh;
        margin-top:-5vh;
        width: auto;
        font-size: 1px;
    }
    .carousel-right{
        flex: '1 1 60%'; 
      height: 10vh;
      width: 56vh;
      /* background-color: aqua;     */
      overflow: 'hidden'; 
      position: 'relative';
      margin-left:-10vh;
 
    }
  }
  

.logo1{
    height: 310px;
    width: 310px;
    padding:10px; 
    padding-right: 10px;
    
}
@media (max-width: 480px) {
    .logo1 {
        margin-left: 35px;
    }
  }
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  