.homecontainer{
  background-color: #121414;
   height:'100%' ;
   width:'98.93';
  }
  .carousel1 {
    width: 98vw;
    background-color: #121414;
    clip-path: circle(62.9% at 13% 0);
    z-index: 1;
    position: relative;
    background-image: url("../Assets/pattern-wave.png");
}



@media (max-width: 768px) {
  .carousel1 {
    clip-path: circle(75% at 50% 0); 
  }
}

@media (max-width: 480px) {
  .carousel1 {
    clip-path: circle(85% at 50% 0); 
  }
  .carousel-text{
      margin-left:1vh;
      margin-top:-5vh;
      width: auto;
      font-size: 1px;
  }

}


.logo1{
  height: 310px;
  width: 310px;
  padding:10px; 
  padding-right: 10px;
  
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
  .fonty{
  font-family: 'Brush Script MT', 'Brush Script Std', cursive; 
  font-size: 48px;
  color: black;
  text-align: center;
  margin-right:-100vh;
}


@media (max-width: 768px) {
  .fonty {
    font-size: 32px;
    margin-left: -106vh;
    margin-top: -42vh;
  }
}


@media (max-width: 480px) {
  .fonty {
    font-size: 40px;
    margin-right: -110vh;
    margin-left: -106vh;
    margin-top: 32vh; /* Adjust margin for small screens */
  }
}