.navbar {
    background-color: #D2AC47;
    border-bottom: 2px dotted #D2AC47;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.logo {
    color: #231709;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 14vh;
}

.navbar-logo {
    height: 100px;
    width: 117px;
    position: absolute;
    right: 206vh;
    top: 46.4%;
    transform: translateY(-50%);
}

.links {
    display: flex;
    gap: 20px;
}

.link {
    color: #231709;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.link:hover {
    background-color: gold;
}

/* Hamburger Icon for Mobile */
.hamburger {
    display: none;
    cursor: pointer;
    margin-left: 42vh;
    margin-top: -6vh;
    font-size: 40px;
}

/* Close button for Mobile Menu */
.close-btn {
    display: none;
    font-size: 36px;
    cursor: pointer;
    color: #231709;
    position: absolute;
    top: 20px;
    right: 20px;
}
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 0px 10px;
    }

    .logo {
        margin-bottom: 10px;
        margin-left: 10px;
        margin-top: 1vh;
        font-size: 20px;
        text-align: center;
    }

    .links {
        display: none; /* Hide the links initially */
        flex-direction: column;
        gap: 10px;
        width: 100%;
        background-color: #D2AC47;
        padding: 20px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
        align-items: center;
        height: 100vh; /* Ensure it takes full screen height */
    }

    .links.open {
        display: flex;
    }

    .link {
        text-align: center;
        padding: 12px 20px;
        width: 100%;
        box-sizing: border-box;
    }

    .hamburger {
        display: block;
    }

    /* Show close button when menu is open */
    .close-btn {
        display: block;
    }

    .navbar-logo {
        display: block; /* Ensure logo is shown on mobile */
        position: relative; /* Reset the position for mobile */
        top: 9vh;
        right:-0.1vh;
        height: 15vh;
        width: 18vh;
        margin-left: -35.1vh; /* Adjust margin if needed */
        margin-top: -50px; /* Space between logo and menu */
    }
}

@media (max-width: 480px) {
    .logo {
        font-size: 35px;
        margin-bottom:-13vh;
        margin-left:7.5vh;
    }

    .hamburger {
        margin-top: 5vh;
        height: 18px;
    }

    .link {
        font-size: 14px;
        padding: 10px 15px;
    }
}
